# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Data & Datasets
/HRP4K/
*.zip
*.tar
*.gz

# Model weights
*.pt
*.pth
*.onnx
*.engine

# Output / Results / Logs
outputs/
runs/
checkpoints/
*.log
status.json

# Environment & OS
venv/
.venv/
.env
.DS_Store
.vscode/
.idea/
__marimo__/

uv.lock
